.carrito{
    &-producto{
        font-size: 20px;
        border-bottom: 1px solid $colorTexto;
        @media(max-width:768px){
        font-size: 16px;
        }
        .producto-digital{
            font-size: 16px;
            @media(max-width:768px){
                font-size: 12px;
                }
        }
        .foto{
            width: 100px;
        }
        i{
            font-size: 24px;
        }
        button{
            border: 0;
            background-color: transparent;
        }

    }
}