.navegador{
    @media(max-width:992px){
    
            .navegadorIcono{
                font-size: 24px;
                padding: 10px;
                &:hover+.navegadorMenu{
                    left: 0;
                }
               
            }
        }
    .navegadorMenu{
       
        @media(max-width:992px){
            position: fixed;
            top: 0;
            left: -100vh;
            height: 100vh;
            min-width: 250px;
            width: 100% - 80%;
            background-color: white;
            transition: 0.2s;
            z-index: 200;
            box-shadow: $sombra;
        
            &:hover{
                left: 0;
            }

        }

        ul{
            list-style: none;
            padding: 0;
           
            li{
                padding: 5px;
                padding-left: 10px;
                font-size: 16px;
    
                a{
                    text-decoration: none;
                    color: $colorTexto;
                }
               
            }
        }
    .contenedor-registro{
         ul{
            list-style: none;
            padding: 0;
            
             li{
                padding: 5px;
                font-size: 16px;
                    a{
                       
                        text-decoration: none;
                        color: $colorTexto;
                    }
                
                }
            }

            @media(max-width:992px){
                margin-top: 20px;
                a{
                    display: block;
                    background-color: $colorPrimario;
                    width: 200px;
                    color: white;
                    text-decoration: none;
                    border: 1px solid $colorPrimario;
                    border-radius: 5px;
                    padding: 10px 20px;
                    text-align: center;
                    &:nth-child(2){
                        background-color: white;
                        color: $colorPrimario;
                    }
    
                }
            }
      }
      .activo{
        color: $colorPrimario;
        font-weight: 700;
    }

    }
    
    }
    .logo{
        width: 92px;
    }
    .buscador {
        form{
            input {
                width: 150px;
                border-radius:  5px 0 0 5px;
                border: solid 1px $colorTexto;
                border-right: 0;
                outline: none;
                @media(max-width:576px){
                    width: 250px;
                }
            }
            button{
                
            border: solid 1px $colorTexto;
            border-left: 0;
            border-radius:  0 5px 5px 0;
            background-color: white;
            position: relative;
            left: -5px;
            }
            i{
                font-size: 16px;
            }
        }
        i{
            font-size: 24px;
        }
    
    }
