@media(max-width:1200px){

    .presentacion-texto {
  
        h1{
            font-size: 66px;
        }
    }
}

@media(max-width:992px){

    .lanzamiento{

       .contenido{

            h3{

                font-size: 66px;
                
            }
            .btn{
                font-size: 24px;
            
            }
           
       }
       
    }
    

}

@media(max-width:768px){

    .presentacion-texto {
  
        h1{
            font-size: 44px;
        }
    }

    .lanzamiento{

        .contenido{
 
             h3{
 
                 font-size: 48px;
                 
             }
            
        }
        
     }
}


@media(max-width:576px){
    .buscador {

        input {
            width: 250px;
        }
}
.presentacion{
    
    video{
        display: none;
    }
}

.presentacion-texto {
    position: static;
    height: auto;
    h1{
        margin-top: 20px;
        position: static;
        color: $colorTexto;
    }
}

.lanzamiento{

    .contenido{

         h3{

             font-size: 30px;
             
         }

         .btn{
            font-size: 16px;
        
        }
        
    }
    
 }


}