@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200&display=swap');
*{
    color: $colorTexto;
    font-family: 'Poppins', sans-serif;
}

.container-fluid,.row{
    padding: 0;
    margin: 0;
}

.boton{
    width: 80%;
    outline: none;
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: $colorPrimario;
    color: white;
    text-decoration: none;
    text-align: center
} 




@import "navegador";
@import "presentacion";
@import "tarjetas";
@import "lanzamiento";
@import "newsletter";
@import "filtros";
@import "navPaginacion";
@import "contactos";
@import "game";
@import "carrito";
@import "footer";

